@model IEnumerable<bookApp.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                 @if (User.Identity.IsAuthenticated)
                 {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                
                 }
                 <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>

            <td>
                @if (item.BookStatus == false)
                {
                <a asp-action="Reserve" asp-route-id="@item.Id">Reserve</a>
                }
                else
                { <h4>Reserved</h4>
                }
            </td>
        </tr>
}
    </tbody>
</table>
